@import "primeflex/primeflex.css";
@import "primevue/resources/themes/aura-dark-green/theme.css";
@import "primeicons/primeicons.css";
@import "./flags.scss";
@import "./main.css";

.a-full {
	@extend .h-full, .w-full !optional;
}

html {
	font-size: 14px;
}

body {
	font-family: var(--font-family);
	font-weight: normal;
	background: var(--surface-ground);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
	height: 100vh;
	width: 100vw;
}

.p-button {
	justify-content: center;

	&-label {
		flex: none;
	}
}
